.header-nav {
  padding: 0 $padding-base;
}

.dropdown-menu {
  box-shadow: 0 1px 24px rgba(0, 0, 0, 0.45);
  border-radius: 0;
  border: 0;

  li {
    > a {
      padding: $padding-wee $padding-base;

      @include font-text(
        $font-size-small,
        $text-color,
        $font-weight-normal,
        uppercase,
        1);
    }

    > a:hover,
    > a:focus {
      color: #b71d3e;
    }
  }
}

.header-nav-brandup {
  padding-right: 0;
  padding-top: $padding-extra;
  float: right;
}

.header-navbar-brand {

  @media all and (min-width: 768px) {
    padding: $padding-middle $padding-big;
    padding-left: 0;
  }
}

.header-menuprincipal {
  > li {
    > a {

      @include font-text(
        $font-size-small,
        $color-gray-lighter,
        $font-weight-semi-bold,
        uppercase);
    }

    > a:hover,
    > a:focus {
      background-color: transparent;
      border-color: $color-white;
    }

    @include media-queries('tablet') {
      > a {
        padding: $padding-extra $padding-small $padding-wee;
      }

      > a:hover {
        background-color: transparent;
      }
    }
  }

  .open {
    > a,
    > a:hover,
    > a:focus {
      background-color: transparent;
      border-color: $color-white;
    }
  }
}

.header-menuphones {
  padding-top: $padding-middle;
}
