.header-nav {
  padding: 0 $padding-base;
}

.dropdown-menu {
  box-shadow: 0 1px 24px rgba(0, 0, 0, 0.45);
  border-radius: 0;
  border: 0;

  li {
    > a {
      padding: $padding-wee $padding-base;

      @include font-text(
        $font-size-small,
        $text-color,
        $font-weight-normal,
        uppercase,
        1);
    }

    > a:hover,
    > a:focus {
      color: #b71d3e;
    }
  }
}

.header-nav-brandup {
  padding: $padding-middle 0;
  float: right;
}

.header-navbar-brand {

  @include media-queries('tablet') {
    padding: $padding-base $padding-big;
    padding-left: 0;
    height: auto;
  }
}

.header-menuprincipal {
  > li {
    > a {

      @include font-text(
        $font-size-small,
        $color-gray-lighter,
        $font-weight-semi-bold,
        uppercase);
    }

    > a:hover,
    > a:focus {
      background-color: transparent;
      border-color: $color-white;
    }

    @include media-queries('tablet') {
      > a {
        padding: $padding-middle $padding-small;
      }

      > a:hover {
        background-color: transparent;
      }
    }
  }

  .open {
    > a,
    > a:hover,
    > a:focus {
      background-color: transparent;
      border-color: $color-white;
    }
  }

  .dropdown-menu {
    margin-top: -$margin-wee !important; // important para sobrescrever estilo bootstrap
  }
}

.header-menuphones {

  @include media-queries('tablet') {
    padding: $padding-base;
  }
}

.header-scroll {
  .header-navbar {
    background: $color-header-base;

    @include transition;
  }
}
