a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
}

.scrolloff {pointer-events: none;}

.fa-github-alt,
.fa-pinterest-p,
.fa-behance,
.fa-facebook,
.fa-foursquare,
.fa-google-plus,
.fa-instagram,
.fa-lastfm,
.fa-linkedin,
.fa-skype,
.fa-steam,
.fa-vine,
.fa-wordpress,
.fa-yahoo,
.fa-vimeo,
.fa-soundcloud,
.fa-spotify,
.fa-twitter,
.fa-whatsapp,
.fa-youtube-play {
  &:hover {color: $color-white;}
}

.fa-github-alt:hover {background: $color-github !important;}
.fa-pinterest-p:hover {background: $color-pinterest !important;}
.fa-behance:hover {background: $color-behance !important;}
.fa-facebook:hover {background: $color-facebook !important;}
.fa-foursquare:hover {background: $color-foursquare !important;}
.fa-google-plus:hover {background: $color-google !important;}
.fa-instagram:hover {background: $color-instagram !important;}
.fa-lastfm:hover {background: $color-lastfm !important;}
.fa-linkedin:hover {background: $color-linkedin !important;}
.fa-skype:hover {background: $color-skype !important;}
.fa-steam:hover {background: $color-steam !important;}
.fa-vine:hover {background: $color-vine !important;}
.fa-wordpress:hover {background: $color-wordpress !important;}
.fa-yahoo:hover {background: $color-yahoo !important;}
.fa-vimeo:hover {background: $color-vimeo !important;}
.fa-soundcloud:hover {background: $color-soundcloud !important;}
.fa-spotify:hover {background: $color-spotify !important;}
.fa-twitter:hover {background: $color-twitter !important;}
.fa-whatsapp:hover {background: $color-whatsapp !important;}
.fa-youtube-play:hover {background: $color-youtube !important;}

.fixed {position: fixed;}
.absolute {position: absolute;}
.static {position: static;}

.top {top: 0;}
.right {right: 0;}
.left {left: 0;}
.bottom {bottom: 0;}
