.callsitem {
  text-align: center;

  @include font-text(
    $font-size-base,
    $color-gray
  );

  @include media-queries('tablet', max) {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

.callsitem-title {
  margin-top: 0;
  margin-bottom: $margin-wee;

  @include font-text(
    $font-size-h3,
    $color-font,
    $font-weight-light
  );

  @include media-queries('tablet', max) {
    margin-top: $margin-small;
  }
}

.callsitem-subtitle {
  display: block;
  margin-top: $margin-wee;

  @include font-text(
    $font-size-h1,
    #d33c5c,
    $font-weight-normal,
    uppercase
  );
}
